<main id="errorPage">
    <div id="not-found-page">
        <div class="not-found-page-container">
            <h2>The page is not found</h2>
            <p>The page who you search is not found! <a href="/" class="btn">Home</a>.
            </p>
        </div>
    </div>
</main>