<main id="home">
    <div class="content">
        <h1>КУПУВАЙ <br>& <br>ПРОДАВАЙ <br><span>ИГРИ</span></h1>
        <div class="prices1">
             <p>Вземи най-добрите игри на</p>
        <p><br><strong>най-добрите цени</strong>!</p>
        </div>
       
        <a href="/games/catalog" class="buy">BUY</a>
    </div>
</main>